.wp-block-iconic-block{
	display: flex;
	align-items: center;
}
.iconic-block-icon{
	width: 100%;
	height: 100%;
}
.wp-block-iconic-block-align-right {
	text-align: right;
}

.wp-block-iconic-block-align-left {
	text-align: left;
}

.wp-block-iconic-block-align-center {
	text-align: center !important;
}

